@tailwind base;
@tailwind components;
@tailwind utilities;

/* ovveriding some Tailwind preflight styles */
@layer base {
  html:focus-within {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen;
    text-rendering: optimizeSpeed;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    font: inherit;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    @apply max-w-full;
  }

  *,
  *::before,
  *::after {
    @apply box-border;
  }

  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
