@tailwind base;
@tailwind components;
@tailwind utilities;

nav a:hover {
  background-color: theme("colors.light.secondary");
  color: theme("colors.on-secondary");
  cursor: pointer;
}

nav a.active {
  background-color: theme("colors.primary");
  color: theme("colors.on-primary");
}

nav a.pending {
  background-color: theme("colors.hover.secondary");
  color: theme("colors.on-primary");
}

/* overriding some Tailwind preflight styles */
@layer base {
  html:focus-within {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen;
    @apply bg-light-background;
    text-rendering: optimizeSpeed;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    font: inherit;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    @apply max-w-full;
  }

  *,
  *::before,
  *::after {
    @apply box-border;
  }

  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

@layer utilities {
  .task-shadow {
    box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
  }

  .dropdown-shadow {
    box-shadow: 0px 10px 10px 0px rgba(54, 78, 126, 0.25);
  }

  .bg-add-column {
    background: linear-gradient(
      180deg,
      #e9effa 0%,
      rgba(233, 239, 250, 0.5) 100%
    );
  }
}
